// ### Primary

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

// ### Neutral

$xdk-blue: hsl(234, 12%, 34%);
$gsh-blue-400: hsl(229, 6%, 66%);
$gsh-blue-200: hsla(229, 6%, 66%, 0.199);
$xlt-gray: hsl(0, 0%, 98%);
